/*Themes Colors*/
$dark-red : #EB5255;
$white : #FAFAFA;
$reduce-white : #FDF5F5;
$dark-grey : #34495E;
$text-color : #465A64;
$button-bg-color : transparent;
$navegation-bg-color : transparent;
$nav-font-size : 12pt;
$nav-letter : #455A65;

/*Typography*/
$font-roboto : 'Roboto Slab', serif;
$font-droid : 'Droid Sans', sans-serif;

$font-size-big : 20pt;
$font-size-normal : 12pt;
$font-size-small : 8pt;

/*ICON*/
$icon : "";
$landing-page-img : "./../../imatges/img.png";
