/*Themes Colors*/
/*Typography*/
/*SIZES*/
/*ICON AND IMATGES*/
/*nav*/
div.line {
  transition: width .5s; }

li:hover > div.line {
  width: 100%; }

/*button*/
button.btn-round {
  transition: all ease-in-out .5s; }

button.btn-round:hover {
  background: #FDF5F5;
  color: #34495E; }

button.btn-round-contact:hover {
  background: #58ADE7;
  color: white; }

.small-image-container {
  transition: all ease .5s; }

.small-image-container:hover {
  cursor: pointer;
  filter: brightness(50%); }
