/*Themes Colors*/
/*Typography*/
/*ICON*/
/*Default*/
body {
  font-family: "Roboto Slab", serif;
  color: #465A64;
  background: #FAFAFA;
  text-transform: inherit; }

/*Container properties*/
div.container, div.small-container {
  width: 100%;
  height: 600px; }

div.small-container {
  height: 350px; }

div.nav-left-container, div.nav-right-container {
  width: 50%;
  height: 100%;
  padding: 20px;
  background: #EB5255;
  border-right: 2px solid #EB5255; }

div.nav-right-container {
  margin-right: 20px;
  background: none;
  border: none; }

div.left-container, div.right-container {
  width: 49.4%;
  height: 83.4%;
  background: #EB5255; }

div.right-container {
  background: none; }

div.mini-container {
  width: 55%;
  height: 50%;
  padding: 20px;
  word-break: break-all;
  letter-spacing: 2px; }

div.landing {
  width: 100%;
  height: 100%; }

div.socoro {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 30%;
  filter: opacity(100%); }

div.mini-container h3 {
  font-weight: normal; }

div.mini-container h2 {
  font-weight: normal; }

div.bg-imatge {
  background-image: url("./../../imatges/img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.icon {
  margin: 10px;
  margin-left: 70px; }

.flex {
  display: flex; }

.row {
  flex-flow: row; }

.last-end {
  justify-content: flex-end; }

.nowrap {
  flex-wrap: nowrap; }

.wrap {
  flex-wrap: wrap; }

.column {
  flex-flow: column; }

.text-center {
  text-align: center !important; }

.div-center {
  align-items: center;
  justify-content: center; }

.uppercase {
  text-transform: uppercase; }

.reduce-white {
  color: #FDF5F5; }

.black {
  color: #465A64; }

.dark-red {
  color: #EB5255; }

.bolder {
  font-weight: bolder !important; }

.inline {
  display: inline; }

.font-size-normal {
  font-size: 12pt !important; }

.font-size-big {
  font-size: 20pt !important; }

.font-size-small {
  font-size: 8pt !important; }
